/**
 * Styles
*/
/* line 1, scss/core/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 1, scss/core/_layout.scss */
body {
  color: #404142;
  font-size: 16px;
  letter-spacing: 0.8px;
}

/* line 7, scss/core/_layout.scss */
.container {
  width: 1170px;
  margin: 0 auto;
}

/* line 12, scss/core/_layout.scss */
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

/* line 17, scss/core/_layout.scss */
.media-left {
  padding-right: 10px;
}

/* line 21, scss/core/_layout.scss */
.row {
  margin-right: -15px;
  margin-left: -15px;
}
/* line 25, scss/core/_layout.scss */
.row .media-body h5 {
  text-transform: uppercase;
  font-weight: 600;
}
/* line 30, scss/core/_layout.scss */
.row .media-heading {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid #efefef;
  padding-bottom: 10px;
}

/* line 37, scss/core/_layout.scss */
.col-md-6 {
  width: 47%;
  float: left;
  position: relative;
  min-height: 1px;
  padding: 15px;
}
/* line 44, scss/core/_layout.scss */
.col-md-6 .media-object {
  max-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* line 1, scss/content/_header.scss */
header {
  background-color: white;
  height: 83px;
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  color: black;
}
/* line 9, scss/content/_header.scss */
header #logo {
  display: inline-block;
  padding-top: 16px;
  padding-left: 30px;
}
/* line 15, scss/content/_header.scss */
header #promezhutok {
  background-color: white;
}
/* line 19, scss/content/_header.scss */
header ul {
  display: inline-block;
  color: black;
  font: 8pt sans-serif;
  text-align: center;
}
/* line 25, scss/content/_header.scss */
header ul li {
  display: inline-block;
  margin-right: 30px;
}
/* line 31, scss/content/_header.scss */
header #top-1 {
  position: absolute;
  right: 216px;
  top: 34px;
  color: black;
}
/* line 37, scss/content/_header.scss */
header #top-1 a {
  padding-left: 28px;
}
/* line 40, scss/content/_header.scss */
header #top-1 a span {
  color: black;
}
/* line 47, scss/content/_header.scss */
header #top-1 #a-1:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("images/Forme 8.png") no-repeat;
}
/* line 55, scss/content/_header.scss */
header #top-1 #a-2:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(images/whishlist-bt.png) no-repeat;
}
/* line 65, scss/content/_header.scss */
header #top-2 {
  position: absolute;
  right: 134px;
  top: 34px;
}
/* line 70, scss/content/_header.scss */
header #top-2 a {
  padding-left: 4px;
}
/* line 75, scss/content/_header.scss */
header #panner {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  background: url("images/Forme 6.png") no-repeat 50% 50% #EB2645;
  height: 83px;
  width: 104px;
}
/* line 84, scss/content/_header.scss */
header #panner span {
  padding-top: 20px;
  margin-left: 74px;
  color: white;
}

/* line 1, scss/content/_home-page.scss */
* {
  margin: 0;
  padding: 0;
  font-family: ProximaNova, sans-serif;
  text-decoration: none;
}

/* line 9, scss/content/_home-page.scss */
body {
  background-color: white;
  text-decoration: none;
}

/* line 15, scss/content/_home-page.scss */
#wrapper {
  width: 1350px;
  margin: 0 auto;
}

/* line 21, scss/content/_home-page.scss */
#calque {
  background: url("images/Calque37.png") 50% 40% #FDE626;
  height: 263px;
}
/* line 25, scss/content/_home-page.scss */
#calque #text {
  padding-top: 167px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
}

/* line 37, scss/content/_home-page.scss */
#menu {
  background-color: #182D47;
  color: white;
  text-align: center;
  margin-top: 10px;
}
/* line 43, scss/content/_home-page.scss */
#menu ul {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 830px;
  background-color: #182D47;
  margin-left: 50px;
}
/* line 53, scss/content/_home-page.scss */
#menu li {
  width: 15%;
  float: left;
  margin-left: 2%;
  text-align: center;
  vertical-align: middle;
}
/* line 60, scss/content/_home-page.scss */
#menu li .href {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-color: #4D5D71;
  height: 63px;
  margin: auto;
  color: white;
  font-size: 14px;
}
/* line 71, scss/content/_home-page.scss */
#menu li .href span {
  text-align: center;
  vertical-align: middle;
}
/* line 77, scss/content/_home-page.scss */
#menu li .menu-over {
  display: none;
  background-color: white;
  height: 250px;
  border: 1px;
}
/* line 85, scss/content/_home-page.scss */
#menu li .menu-over .row .column {
  margin: 30px 50px 50px 20px;
}
/* line 88, scss/content/_home-page.scss */
#menu li .menu-over .row .column .main {
  margin-bottom: 20px;
}
/* line 99, scss/content/_home-page.scss */
#menu li .href:hover {
  margin: auto;
  background-color: white;
  color: #182D47;
}
/* line 107, scss/content/_home-page.scss */
#menu li:hover {
  background-color: #EB2645;
}
/* line 110, scss/content/_home-page.scss */
#menu li:hover .menu-over {
  display: block;
}
/* line 114, scss/content/_home-page.scss */
#menu li:first-child {
  margin-left: 0;
}
/* line 118, scss/content/_home-page.scss */
#menu .recherche-div {
  display: block;
  position: relative;
}
/* line 122, scss/content/_home-page.scss */
#menu .recherche-div .search {
  position: absolute;
  display: block;
  left: 50px;
  z-index: 5;
}
/* line 128, scss/content/_home-page.scss */
#menu .recherche-div #recherche {
  margin-top: 10px;
  width: 310px;
  height: 52px;
  border: none;
  text-align: left;
  padding-left: 50px;
  margin: 10px;
}

/* line 143, scss/content/_home-page.scss */
#main {
  height: 660px;
  background-color: white;
}
/* line 147, scss/content/_home-page.scss */
#main #pagination {
  color: #9A9D9F;
  font-size: 10px;
  margin-left: 50px;
  padding-top: 20px;
}
/* line 153, scss/content/_home-page.scss */
#main #pagination #text-pagination {
  color: #EB2645;
}
/* line 158, scss/content/_home-page.scss */
#main #date-1 {
  color: #182D47;
  font-size: 10px;
  margin-left: 50px;
  padding-top: 30px;
}
/* line 164, scss/content/_home-page.scss */
#main #date-1 #text-date-1 {
  font-weight: 900;
}
/* line 169, scss/content/_home-page.scss */
#main .mainblock {
  padding: 0 50px;
}
/* line 172, scss/content/_home-page.scss */
#main .mainblock #infos {
  background-color: #EB2645;
  color: white;
  font-weight: 700;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 180, scss/content/_home-page.scss */
#main .mainblock #infos ul {
  padding-top: 10px;
}
/* line 184, scss/content/_home-page.scss */
#main .mainblock #infos li {
  margin-bottom: 13px;
  margin-left: 30px;
}
/* line 189, scss/content/_home-page.scss */
#main .mainblock #infos #li1:before {
  content: " ";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("images/Forme 4.png") no-repeat;
}
/* line 197, scss/content/_home-page.scss */
#main .mainblock #infos #li2:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("images/Rectangle 10.png") no-repeat;
}
/* line 204, scss/content/_home-page.scss */
#main .mainblock #infos #li3:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("images/Rectangle 20.png") no-repeat;
}
/* line 212, scss/content/_home-page.scss */
#main .mainblock #infos #li4:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("images/Rectangle 20.png") no-repeat;
}
/* line 220, scss/content/_home-page.scss */
#main .mainblock #infos #li5:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("images/Rectangle 20.png") no-repeat;
}
/* line 228, scss/content/_home-page.scss */
#main .mainblock #infos img {
  padding-left: 70px;
  padding-top: -30px;
}
/* line 234, scss/content/_home-page.scss */
#main .mainblock #actus {
  display: inline-block;
  padding-left: 50px;
}
/* line 238, scss/content/_home-page.scss */
#main .mainblock #actus .actus-content {
  background-color: #2C2F33;
}
/* line 243, scss/content/_home-page.scss */
#main .mainblock #actus .actus-image {
  padding: 0;
  background-position: 120% 100%;
}
@media (min-width: 970px) and (max-width: 1170px) {
  /* line 251, scss/content/_home-page.scss */
  #main .mainblock #infos .col-lg-3 {
    width: 20%;
  }
  /* line 256, scss/content/_home-page.scss */
  #main .mainblock #actus .col-lg-9 {
    width: 40%;
  }
}

/* line 266, scss/content/_home-page.scss */
#suggestions-block {
  background-color: #F5F6F7;
}
/* line 269, scss/content/_home-page.scss */
#suggestions-block #nossuggestions {
  margin-left: 50px;
  margin-top: 52px;
  vertical-align: top;
}
/* line 277, scss/content/_home-page.scss */
#suggestions-block #suggestions div {
  width: 305px;
  height: 368px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  margin-left: 20px;
  padding: 30px;
}
/* line 288, scss/content/_home-page.scss */
#suggestions-block #suggestions .name-product {
  display: block;
  margin-left: 20px;
}
/* line 300, scss/content/_home-page.scss */
#suggestions-block #suggestions .sug2 .image2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 305px;
  max-height: 180px;
}
/* line 309, scss/content/_home-page.scss */
#suggestions-block #suggestions .sug3 .image3 {
  margin-left: auto;
  margin-right: auto;
}
/* line 316, scss/content/_home-page.scss */
#suggestions-block #suggestions .sug4 .image4 {
  margin-left: auto;
  margin-right: auto;
}

/* line 3, scss/content/_footer.scss */
footer #aide {
  display: block;
  position: relative;
  height: 78px;
  background-color: #E31D3C;
  padding-left: 20%;
}
/* line 11, scss/content/_footer.scss */
footer #aide #footer-list {
  margin: 0 auto;
}
/* line 16, scss/content/_footer.scss */
footer #aide ul {
  display: inline-block;
  margin-top: 30px;
}
/* line 21, scss/content/_footer.scss */
footer #aide li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 60px;
  margin-bottom: 25px;
}
/* line 29, scss/content/_footer.scss */
footer #aide li a {
  text-align: center;
  text-decoration: none;
  color: white;
}
/* line 35, scss/content/_footer.scss */
footer #aide #faq:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("images/Faq.png") no-repeat;
}
/* line 42, scss/content/_footer.scss */
footer #aide #tchat:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("images/Tchat.png") no-repeat;
}
/* line 49, scss/content/_footer.scss */
footer #aide #appeler:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("images/Appel.png") no-repeat;
}
/* line 56, scss/content/_footer.scss */
footer #aide #contact:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("images/Contact.png") no-repeat;
}
/* line 65, scss/content/_footer.scss */
footer .bottom {
  display: table;
  display: block;
  background-color: #182D47;
  padding-top: 22px;
  padding-bottom: 50px;
  padding-left: 40px;
  color: white;
}
/* line 74, scss/content/_footer.scss */
footer .bottom .col-lg-3 {
  display: table-cell;
}
/* line 77, scss/content/_footer.scss */
footer .bottom .col-lg-3 .paragraph {
  text-align: center;
  margin: 30px 0;
}
/* line 81, scss/content/_footer.scss */
footer .bottom .col-lg-3 .paragraph .separator {
  width: 18px;
  height: 3px;
  background: red;
  margin: 15px auto;
}
/* line 88, scss/content/_footer.scss */
footer .bottom .col-lg-3 .paragraph .enter-mail {
  width: 290px;
  height: 52px;
  border: none;
  padding: 0 0 0 50px;
}

/*# sourceMappingURL=styles.css.map */
