<div id="content-wrapper">
    <div id="calque">
        <div id="text">
            Le rendez-vous mondial de l'innovation alimentaire
        </div>
    </div>

    <!--MENU-->
    <div id="menu">
        <ul>
            <li>
                <a href="#.html">
                    <div>
                        <span>PRESENTATION</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#.html">
                    <div>
                        <span>ACCEDER AU SITE</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#.html">
                    <div>
                        <span>BRANCHER MON STAND</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#.html">
                    <div>
                        <span>AMENAGER MON STAND</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#.html">
                    <div>
                        <span>SERVICES</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#.html">
                    <div>
                        <span>AUTOUR DE MA MANIFESTATION</span>
                    </div>
                </a>
            </li>
        </ul>

        <input type="text" placeholder="Recherche" id="recherche" src="images/Loupe.png">
    </div>

    <div id="main">

        <div id="pagination">
            <span>ACCUEIL </span>
            <span id="text-pagination">> PRESENTATION </span>
        </div>

        <div id="date-1">
            <span id="text-date-1">Palais des Congrès de Paris </span>
            <span> du 01/10/2016 au 16/11/2016</span>
        </div>

        <div id="infos">
            <span>INFORMATIONS PRATIQUES</span>
            <ul type="none">
                <li id="li1">Informations pratiques</li>
                <li id="li2">Site de l’organisateur</li>
                <li id="li3">Télécharger le cataloge de produits</li>
                <li id="li4">Télécharger le dossier technique</li>
                <li id="li5">Télécharger le dossier technique</li>
            </ul>
            <img src="images/Calque 26.png">
        </div>

        <div id="actus">
            <div id="image">
                
            </div>
        </div>

    </div>

    <div id="suggestions-block">
        <span id="nossuggestions">NOS SUGGESTIONS</span>
        <div id="suggestions" class="row">
            <div id="01" class="col-lg-3 col-md-3">
                <img src="images/Calque 30.png">
            </div>
            <div id="02" class="col-lg-3 col-md-3">
                <img src="images/Calque 32.png">
            </div>
            <div id="03" class="col-lg-3 col-md-3">
                <img src="images/Calque 33.png">
            </div>
            <div id="04" class="col-lg-3 col-md-3">
                <img src="images/Calque 30.png">
            </div>
        </div>
    </div>

</div>