header {
  background-color: white;
  height: $height;
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  color: black;

  #logo {
    display: inline-block;
    padding-top: 16px;
    padding-left: 30px;
  }

  #promezhutok {
    background-color: white;
  }

  ul {
    display: inline-block;
    color: black;
    font: 8pt sans-serif;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 30px;
    }
  }

  #top-1 {
    position: absolute;
    right: 216px;
    top: 34px;
    color: black;

    a {
      padding-left: 28px;

      span {
        color: black;
      }


    }

    #a-1:before{
      content: " ";
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url("images/Forme 8.png");
    }

    #a-2:before{
      content: " ";
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url(images/whishlist-bt.png);
    }

  }

  #top-2 {
    position: absolute;
    right: 134px;
    top: 34px;

    a {
      padding-left: 4px;
    }
  }

  #panner {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    background: url('images/Forme 6.png') no-repeat 50% 50% #EB2645;
    height: $height;
    width: 104px;

    span {
      padding-top: 20px;
      margin-left: 74px;

      color: white;
    }
  }

  #panner:hover{

  }

}